.landing_page {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #fff;
}

.container_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.container_up {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

img {
  height: 100%;
  width: 100%;
}

.plus {
  color: #ff5862;
  padding-left: 16px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

section {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

.info_button {
  background-color: #ff5862;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.div_h2{
  padding-top: 20px;
}